################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/decisions-mod-skeleton/v16/.suo
/.vs/HTTPMultiPartUpload/v16/Server/sqlite3
/.vs
/HTTPMultiPartUpload/bin/Debug
/HTTPMultiPartUpload/obj/Debug
/HTTPMultiPartUpload/obj/Release
